*{outline: none;
border:none;
margin: 0;
padding: 0;
}
body{
     background-color: #333333;
     color: #fff;
     display: flex;
     height: 100vh;
     justify-content: center;
     align-items: center;
}
.display{
     display: flex!important;
}
.input_wrapper{
     min-width:auto;
     min-height: 70px;
     width: auto;
     padding: 0 5%;
     height: 70px;
     border:solid 1px black;
     position: absolute;
     display: flex;
     align-items: center;
     justify-content: center;
     top: -80px;
     display: none;

}
.input{
     height: 20px;
}
.button{
     width: 70px;
     height: 20px;
     margin-left: 20px;
     background-color: green;
     cursor: pointer;
     color: #fff;
}
.input::placeholder{
     color:black;
     position: absolute;
}
.menu{
     width: auto;
     height: auto;
     list-style: none;
     display: flex;
     position: relative;
}
.submenu{
     width: auto;
     height: auto;
     position: absolute;
     bottom: -80px;
     list-style: none;
     display: none;
}
.submenu::after{
     content: '';
     position: absolute;
     border:10px solid transparent;
     width: 100%;
     top:-20px;
}
.submenu::before{
     content: '';
     position: absolute;
     top:-20px;
     border: 10px solid transparent;
     border-bottom: solid 10px #fff;
     left:50%;
     transform: translateX(-50%);
     /* background-color: #fff; */
}
.menu_column{
     width: auto;
     height: auto;
     list-style: none;
     display: flex;
     position: relative;
     flex-direction: column;
}
.submenu_column{
     width: auto;
     height: auto;
     position: absolute;
     right: -83px;
     flex-direction: column;
     list-style: none;
     display: none;
}
.submenu_column::after{
     content: '';
     position: absolute;
     border:10px solid transparent;
     width: 100%;
     left:-20px;
}
.submenu_column::before{
     content: '';
     position: absolute;
     left:-20px;
     border: 10px solid transparent;
     border-right: solid 10px #fff;
     top:50%;
     transform: translateY(-50%);
     /* background-color: #fff; */
}
.items{
     min-width: 70px;
     min-height: 70px;
     width: 70px;
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: center;
     border:solid black 1px;
     cursor: pointer;
     user-select: none;
     transition: ease-in-out 0.4s all;
}
.items:hover {
     background-color: rgb(156, 156, 156);
}
.items:hover > .submenu{
     display: flex;
}
.items:hover > .submenu_column{
     display: flex;
}